aiofiles==0.6.0
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
couchbase==3.0.4b1
fastapi==0.63.0
flake8==3.9.0
greenlet==1.0.0
h11==0.12.0
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
multitasking==0.0.9
mypy-extensions==0.4.3
numpy==1.20.1
packaging==20.9
pandas==1.2.3
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pydantic==1.7.3
pyflakes==2.3.1
PyJWT==2.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
python-arango==7.0.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-multipart==0.0.5
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
setuptools-scm==5.0.1
six==1.15.0
SQLAlchemy==1.4.2
starlette==0.13.6
toml==0.10.2
urllib3==1.26.3
uvicorn==0.13.3
watchgod==0.6
websockets==8.1
wrapt==1.12.1
yfinance==0.1.59
